
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* common css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

.btn{
    font-size: 16px;
    color: white;
    font-weight: 600;
    background-color: #469165;
    border-radius: 4px;
    border-style: none;
    padding: 12.5px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

/* header er nav design */

header{
    color: white;
    padding: 16px 120px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav img{
    max-width: 139px;
    height: 60px;
}

header nav ul{
    display: flex;
    gap: 32px;
    align-items: center;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    color: #000000;
}

/* Navber design is finished */

/* hero-section/banner design started */
#banner{
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 674px;
    padding: 134px 120px 134px;
    text-align: center;
}

#banner .upr-div{
    background-color: white;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto 16px;
    width: 229px;
}

#banner .upr-div .crcl{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 8px 0;
}

#banner .upr-div .crcl .c1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

#banner .upr-div .crcl .c2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mediumseagreen;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

#banner .upr-div .crcl .c3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

#banner .upr-div h4{
color: #469165;
font-size: 16px;
font-weight: 500;
display: flex;
align-items: center;
justify-content: start;
}

#banner .mid-div h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: white;
}

#banner .mid-div h2{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #30B868;
}

#banner .mid-div p{
    font-size: 18px;
    color: white;
    line-height: 24px;
    width: 700px;
    text-align: center;
    margin: 16px auto 32px;
}

#banner .lower-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:16px;
}

#banner .lower-div .btn-2{
    color: white;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.521);
}

/* hero-sectin design complete */

/* Now start Don't Fail section */

main #do-not-fail{
    padding: 60px 120px 0 120px;
    background-color: white;
}

main #do-not-fail .dnt-f-d1 h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
    text-align: center;
}

main #do-not-fail .dnt-f-d1 p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 44px;
    text-align: center;
}

main #do-not-fail .card-content{
    display: flex;
    gap:24px;
    justify-content: center;
    align-items: center;
}

main #do-not-fail .card-content .card{
    border-radius: 8px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.05);
    text-align: center;
    width: 310px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

main #do-not-fail .card-content .card img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 16px;
}

main #do-not-fail .card-content h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

main #do-not-fail .card-content p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 16px;
}

/* Notes/Don't Fail section finished*/

/* Start second brain section */

main #second-brain{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    padding: 120px;
    /* margin: 0 auto; */
}

main #second-brain .img-div{
    background-image: url(../images/knowledge.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

main #second-brain .txt-div{
    padding: 102px 180px 102px 25px;
    width: 700px;
}

main #second-brain .txt-div span{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #30B868;
}

main #second-brain .txt-div h1{
    font-size: 48px;
    font-weight: bold;;
    color: #001931;
    margin: 16px 0;
}

main #second-brain .txt-div p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

main #second-brain .txt-div ul{
    font-size: 16px;
    color: #627382;
    font-weight: 500;
    list-style: none;
}

main #second-brain .txt-div ul li{
    display: flex;
    text-align: left;
    align-items: center;
    gap:5px;
    margin-bottom: 16px;
}

/* Second Brain section finished*/