
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* common css */

*{
    margin: 0;
    padding: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

.btn{
    font-size: 16px;
    color: white;
    font-weight: 600;
    background-color: #469165;
    border-radius: 4px;
    border-style: none;
    padding: 12.5px 16px;
}

/* header er nav design */

header{
    color: white;
    padding: 16px 120px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav img{
    max-width: 139px;
    height: 60px;
}

header nav ul{
    display: flex;
    gap: 32px;
    align-items: center;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    color: #000000;
}

/* Navber design is finished */